.Heading {
    position: sticky;
    height: 300px;
    background-color: #283a4e;
    letter-spacing: 2px;
    text-align: center;
    overflow: hidden;
    transition: all 500ms ease-in-out;
}

.Heading > p {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 600;
    text-align: center;
    margin-top: -20px;
    font-style: italic;
}

.Heading > h1 {
    color: white;
    font-size: 60px;
    transition: all 200ms ease-in-out;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.Heading > h1:hover,
.CreateNote > h1:hover {
    transition: all 200ms ease-in-out;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.Footer {
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 12px;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: 30px;
    position: static;
    color: rgba(0, 0, 0, 0.5);
}

.Note {
    background-color: #b3cace;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    display: inline-block;
    margin: 20px;
    padding: 20px;
    padding-left: 30px;
    border-radius: 20px;
    width: 400px;
    height: 100%;
    overflow: hidden;
    transition: all 500ms ease-in-out;
}

.Note > h1 {
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
}

.Note > p {
    font-size: 18px;
    text-align: left;
}

.CreateNote {
    background-color: #191b29;
    width: 600px;
    display: inline-block;
    border-radius: 20px;
    margin-top: -100px;
    position: sticky;
    text-align: center;
    height: 370px;
    transition: all 200ms ease-in-out;
    margin-bottom: 100px;
}

.CreateNote > input,
.CreateNote > textarea {
    transform: scale(1.3);
    text-align: left;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: all 200ms ease-in-out;
    width: 300px;
    background-color: #EAEAEA;
    padding: 10px;
    margin: 20px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

::-webkit-input-placeholder {
    font-style: italic;
    color: rgba(0, 0, 0, 0.5);
    letter-spacing: 2px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
}

.CreateNote > input:focus,
.CreateNote > textarea:focus {
    transform: scale(1.35);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.CreateNote > button {
    transition: all 200ms ease-in-out;
    background-color: #95b9ee;
    border: none;
    font-size: 40px;
    padding: 10px 30px;
    transform: scale(1);
    border-radius: 20%;
    margin-right: -450px;
    margin-top: 14px;
}

.CreateNote > button:hover {
    border-radius: 10%;
    transform: scale(1.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
