.Heading {
    display: block;
    background-color: #f5ba13;
    color: black;
    font-weight: 600;
    letter-spacing: 2px;
    margin: auto -20px;
    padding: 20px;
    padding-left: 60px;
    transition-duration: 0.2s;
}

.Heading:hover {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.Footer {
    font-weight: 500;
    letter-spacing: 3px;
    font-size: 12px;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
    position: absolute;
    color: rgba(0, 0, 0, 0.3);
}

.Note {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: inline-block;
    margin: 30px;
    padding-top: 10px;
    padding: 0px 10px;
    border-radius: 10px;
    width: 300px;
    height: 100%;
    text-align: center;
}

.Note h1 {
    font-size: 1em;
    letter-spacing: 2px;
}

.TitleField, .ContentField {
    border: none;
    background-color: rgba(200, 200, 200, 1);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    transition-duration: 0.2s;
}