.Heading {
    position: sticky;
    height: 300px;
    background-color: #283a4e;
    letter-spacing: 2px;
    text-align: center;
    overflow: hidden;
    transition: all 500ms ease-in-out;
}

.Heading > p {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 600;
    text-align: center;
    margin-top: -20px;
    font-style: italic;
}

.Heading > h1 {
    color: white;
    font-size: 60px;
    transition: all 200ms ease-in-out;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.Heading > h1:hover,
.CreateNote > h1:hover {
    transition: all 200ms ease-in-out;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.Footer {
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 12px;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: 30px;
    position: static;
    color: rgba(0, 0, 0, 0.5);
}

.CreateNote {
    background-color: #191b29;
    width: 90%;
    max-width: 500px;
    display: inline-block;
    border-radius: 20px;
    margin-top: -100px;
    position: sticky;
    text-align: center;
    height: 100%;
    transition: all 200ms ease-in-out;
    margin-bottom: 100px;
}

.CreateNote > .newNote {
    text-align: left;
    border-radius: 10px;
    transition: all 200ms ease-in-out;
    background-color: #eaeaea;
    margin: 20px;
    font-weight: 500;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: inherit;
}

.CreateNote > .newNote:focus {
    border-radius: 10px;
}

.CreateNote > p {
    color: white;
    text-align: left;
    padding-left: 45px;
    margin-bottom: -10px;
    font-style: italic;
    letter-spacing: 2px;
    font-weight: 500;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
}

.CreateNote > button {
    transition: all 200ms ease-in-out;
    background-color: #95b9ee;
    border: none;
    padding: 20px 20px;
    transform: scale(1);
    border-radius: 30%;
    margin-right: -60%;
    margin-bottom: -40px;
}

.CreateNote > button:hover {
    border-radius: 25%;
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.CreateNote > button:active {
    transition: all 50ms ease-out;
    transform: scale(1);
}

.Note {
    background-color: #b3cace;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    display: inline-block;
    margin: 20px;
    padding: 20px;
    padding-left: 30px;
    border-radius: 20px;
    width: 300px;
    height: 100%;
    overflow: hidden;
    transition: all 500ms ease-in-out;
    animation: note-in 0.5s;
}

.Note > h1 {
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
}

.Note > p {
    font-size: 18px;
    text-align: left;
}

@keyframes note-in {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 100;
        transform: scale(1);
    }
}

.fade-out {
    transition: all 200ms ease;
    opacity: 0;
    transform: scale(0.9);
}
